<% if @message && @message.errors.any? %>
  <div>
    <strong>Some errors with your message. Please fix them.</strong>
    <ul>
      <% @message.errors.full_messages.each do |err_message| %>
      <li><%= err_message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<form method="post" action='/messages'>
  <div>
    <label for='author'>Author:</label>
    <input type='text' id='author' name='author' placeholder='Reuired' value='<%= @message.author %>'>
  </div>
  <div>
    <label for='content'>Content:</label>
    <input type='text' id='content' name='content' placeholder='Reuired' value='<%= @message.content %>'>
  </div>
  <footer>
    <button type='submit'>Submit Author</button>
  </footer>
</form>